<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <img src="../images/logo107x20.gif" id="logo">
</div>

<div class="jumbotron">
  <h1>Welcome.</h1>
  <p class="lead">
    Find a CHASE ATM or branch near you.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/map">Search</a></p>
</div>

<div class="row marketing">
  <h4>Find an ATM or Branch</h4>
  <p>
    Click the 'Search' button above to find an ATM or branch near you.
  </p>
</div>

<div class="footer">
  <p>Built by <a href="https://github.com/rwholmes">Robert Holmes</a> | 2014</p>
</div>
